<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asia.health.bitcare">

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <application
        android:name=".BitCareApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="sensorPortrait" />

        <activity android:name=".activity.DisconnectActivity"
            android:screenOrientation="sensorPortrait" />

        <activity android:name=".activity.MainActivity"
            android:screenOrientation="sensorPortrait">

        </activity>

        <activity android:name=".activity.InvestigateActivity"
            android:screenOrientation="sensorPortrait"/>

        <activity android:name=".activity.signup.RegistrationInitActivity"
            android:screenOrientation="sensorPortrait" />

        <activity android:name=".activity.signup.RegistrationActivity"
            android:screenOrientation="sensorPortrait" />

        <activity android:name=".activity.signup.TermsActivity"
            android:screenOrientation="sensorPortrait"/>

        <activity android:name=".activity.forgot.ForgotIdActivity"
            android:screenOrientation="sensorPortrait"/>

        <activity android:name=".activity.forgot.ForgotPasswordActivity"
            android:screenOrientation="sensorPortrait" />

        <activity android:name=".ble.DeviceScanActivity"
            android:screenOrientation="sensorPortrait" />

        <activity android:name=".bluetooth.ANDManager"
            android:screenOrientation="sensorPortrait" />

        <activity android:name=".bluetooth.BluetoothManager"
            android:screenOrientation="sensorPortrait" />

        <activity android:name=".bt.DeviceListActivity"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name="asia.health.bitcare.isens.IsensActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>